body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .card {
    background: white;
    padding: 35px;
    width: 90%;
    max-width: 420px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  }
  
  .subtitle {
    color: #ff4d6d;
    font-style: italic;
  }
  
  .question h2 {
    color: #ff4d6d;
  }
  
  button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    background-color: #ffe0e9;
  }
  
  button:hover {
    background-color: #ffccd5;
  }
  
  .hidden {
    display: none;
  }
  
  .answer h1 {
    color: #ff4d6d;
    font-size: 36px;
  }
  
  .shayari {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.6;
    color: #444;
  }
  .restart-btn {
    margin-top: 25px;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background-color: #ff4d6d;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  
  .restart-btn:hover {
    background-color: #e63e5c;
  }
    